.header-container {
    height: 80px;
    display: flex;
    justify-content: center;
    margin: auto;
    background-color: #dce9ed;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);


    .main-nav {
        display: flex;
        width: 960px;
        justify-content: space-between;



        .logo {
            display: flex;
            justify-content: start;
            cursor: pointer;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            flex-direction: column;

            p {
                margin: auto;
                font-weight: bold;
            }

            img {
                width: 40px;
                margin-right: 5px;
                margin: auto;
            }
        }

        .buttons-holder {

            display: flex;

            .seprator {
                content: "";
                height: 50px;
                border-right: 1px solid #201f1f;
                display: flex;
                align-self: center;
            }

            button {
                align-items: center;
                background-clip: padding-box;
                background-color: #dce9ed;
                border: 1px solid transparent;
                box-sizing: border-box;
                color: #122536;
                cursor: pointer;
                display: inline-flex;
                font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
                font-size: 16px;
                font-weight: 600;
                justify-content: center;
                line-height: 1.25;
                margin: 0;
                min-height: 3rem;
                padding: calc(.875rem - 1px) calc(1.5rem - 1px);
                position: relative;
                text-decoration: none;
                transition: all 250ms;
                user-select: none;
                -webkit-user-select: none;
                touch-action: manipulation;
                vertical-align: baseline;
                width: 100px;

                &:hover,
                :focus {
                    background-color: #122536;
                    color: #dce9ed;
                    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
                    border: 1px solid transparent;
                }
            }
        }
    }
}


.person-container {
    background-color: #122536;
    max-width: 960px;
    padding: 0 0 20px 0;
    margin: auto;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    h2 {
        margin-top: 20px;
        text-align: center;
        color: #dce9ed;
    }

    .names-cmp-container {
        display: flex;
        justify-content: center;
        height: 100px;
        color: #dce9ed;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

        .names-container {
            display: flex;
            width: 960px;
            justify-content: space-around;
            align-items: center;
            text-align: center;
            background-color: #201f1f;
            flex-direction: row;

            .data-holder {
                width: 300px;
            }
        }

    }
}

.personal-details-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    background-color: #dce9ed;
    


    .data-container {
        margin: auto;
        margin: 5px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 20px;
        min-width: 150px;
        min-height: 150px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
        background-color: #201f1f;
        color: #dce9ed;
        border-radius: 6px;
        text-align: center;
        flex-grow: 1;
    }
}

.contact-details-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    background-color: #dce9ed;
    


    .data-container {
        margin: auto;
        margin: 5px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 20px;
        min-width: 150px;
        min-height: 150px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
        background-color: #201f1f;
        color: #dce9ed;
        border-radius: 6px;
        text-align: center;
        flex-grow: 1;
    }
}

.marital-status-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    background-color: #dce9ed;
    


    .data-container {
        margin: auto;
        margin: 5px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 20px;
        min-width: 150px;
        min-height: 150px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
        background-color: #201f1f;
        color: #dce9ed;
        border-radius: 6px;
        text-align: center;
        flex-grow: 1;
    }
}

.location-details-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    background-color: #dce9ed;


    .data-container {
        margin: auto;
        margin: 5px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 20px;
        min-width: 150px;
        min-height: 150px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
        background-color: #201f1f;
        color: #dce9ed;
        border-radius: 6px;
        text-align: center;
        flex-grow: 1;

        a {
            text-decoration: none;
        }
    }
}

.appearance-details-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    background-color: #dce9ed;
    


    .data-container {
        margin: auto;
        margin: 5px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 20px;
        min-width: 150px;
        min-height: 150px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
        background-color: #201f1f;
        color: #dce9ed;
        border-radius: 6px;
        text-align: center;
        flex-grow: 1;
    }

}

.loan-details-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    background-color: #dce9ed;
    height: 200px;

    .data-container {
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 20px;
        min-width: 170px;
        height: 150px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
        background-color: #201f1f;
        color: #dce9ed;
        border-radius: 6px;
        text-align: center;

        .data-holder {
            margin: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100px;
            width: 180px;
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
            background-color: #201f1f;
            color: #eddfdcdc;
            border-radius: 6px;
            text-align: center;
        }
    }
}

.finance-details-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    background-color: #dce9ed;
    


    .data-container {
        margin: auto;
        margin: 5px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 20px;
        min-width: 150px;
        min-height: 150px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
        background-color: #201f1f;
        color: #dce9ed;
        border-radius: 6px;
        text-align: center;
        flex-grow: 1;
    }
}

.professional-details-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    background-color: #dce9ed;
    


    .data-container {
        margin: auto;
        margin: 5px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 20px;
        min-width: 150px;
        min-height: 150px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
        background-color: #201f1f;
        color: #dce9ed;
        border-radius: 6px;
        text-align: center;
        flex-grow: 1;
    }
}

.internet-preferences-details-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    background-color: #dce9ed;
    


    .data-container {
        margin: auto;
        margin: 5px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 20px;
        min-width: 150px;
        min-height: 150px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
        background-color: #201f1f;
        color: #dce9ed;
        border-radius: 6px;
        text-align: center;
        flex-grow: 1;
    }
}